{%extends 'base.html'%}

{%block body_block%}
<style>
    td {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<div
    style="margin-left: 20px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <h5><strong>Filter By Department</strong></h5>
    <div>
        {%for dept in departments%}
        <a href="{%url 'emp-all'%}?department={{dept}}">{{dept}}</a>

        {%endfor%}

    </div>
</div>
<div class="container">
    <h2 style="font-family:'Trebuchet MS';color:rgb(13, 13, 13);" class="mt-4 text-center"><strong>List all Employee
            !!!!</strong></h2>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="post">
                {%csrf_token%}
                <div class="d-flex mt-4">
                    <input type="text" name="box" class="form-control me-4 ">
                    <button type="submit" class="btn btn-outline-dark">Search</button>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container">

    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-8">

            <table class="table table-teritary table-striped border-dark">
                <tr>
                    <td><strong>NAME</strong></td>
                    <td><strong>DEPARTMENT</strong></td>
                    <td><strong>SALARY</strong></td>
                    <td><strong>EMAIL</strong></td>
                    <td><strong>ACTIONS</strong></td>
                </tr>

                {%for emp in data%}

                <tr>
                    <td>{{emp.name}}</td>
                    <td>{{emp.department}}</td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.email}}</td>
                    <td>
                        <a href="{%url 'emp-detail' emp.id%}">View</a>
                        <a href="{%url 'emp-delete' emp.id%}">Delete</a>
                        <a href="{%url 'emp-edit' emp.id%}">Change</a>
                    </td>
                </tr>

                {%endfor%}

            </table>

        </div>
        <div class="col-2"></div>
    </div>
</div>
{%endblock%}